body{
    font-family: veranda,Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(white,green);
    background-repeat: no repeat;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size:52px;
}
button{
    height:60px;
        width:170px;
     font-size: 30px;
    border-radius: 10px;
}
button:hover{
    cursor:pointer;
}
img, #jokeContent {
    margin-top: 5%;
}